[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "==1.3.0"
numpy = "*"
flask = "*"
waitress = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
